@font-face {
    font-family: 'tengxiang';
    src: url('../font/tengxiang/tengxiang.eot');
    src:
            url('../font/tengxiang/tengxiang.eot?#font-spider') format('embedded-opentype'),
            url('../font/tengxiang/tengxiang.woff') format('woff'),
            url('../font/tengxiang/tengxiang.ttf') format('truetype'),
            url('../font/tengxiang/tengxiang.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'zaozi';
    src: url('../font/zaozi/zaozi.eot');
    src:
            url('../font/zaozi/zaozi.eot?#font-spider') format('embedded-opentype'),
            url('../font/zaozi/zaozi.woff') format('woff'),
            url('../font/zaozi/zaozi.ttf') format('truetype'),
            url('../font/zaozi/zaozi.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pingfang';
    src: url('../font/pingfang/pingfang.eot');
    src:
            url('../font/pingfang/pingfang.eot?#font-spider') format('embedded-opentype'),
            url('../font/pingfang/pingfang.woff') format('woff'),
            url('../font/pingfang/pingfang.ttf') format('truetype'),
            url('../font/pingfang/pingfang.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
    background: #282828;
}
/*首页样式*/
.first-page-container, .forecast-page-container, .result-page-container, .letter-page-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.first-page-inner {
    width: 3rem;
    height: 90%;
    margin: 0 auto;
    padding: .4rem .1rem;
}
/*首页logo样式*/
.first-page-logo {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.first-page-logo img {
    width: 2.43rem;
    height: auto;
    margin: 0;
}
/*按钮样式*/
.first-page-buttons {
    width: 3.05rem;
    height: auto;
    margin: 0 auto;
    padding: 0.2rem 0;
}
.first-page-forecast, .first-page-letter {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
.first-page-letter {
    margin-top: .2rem;
    background: url(../picture/love_arrow.png);
    background-position: center .2rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.forecast-button, .letter-button {
    width: 1.9rem;
    height: .6rem;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
    color: #282828;
    font-size: 0.35rem;
    line-height: .6rem;
    font-family: 'zaozi';
    text-align: center;
    border: .04rem solid #000;
    border-radius: .08rem;
    box-shadow: 0 0 .06rem .02rem inset;
}
.forecast-content, .letter-content {
    width: auto;
    height: .16rem;
    margin: .03rem auto;
    text-align: center;
    font-size: .13rem;
    font-family: 'zaozi';
    color: #fefefe;
}





/*脱单预测*/
/*返回标签*/
.forecast-page-back, .result-page-back, .letter-page-back {
    width: auto;
    height: auto;
    display: inline-block;
    padding-left: .1rem;
    font-size: .4rem;
    color: #ffffff;
}
/*信息填写表单*/
.forecast-page-form {
    width: 2.9rem;
    height: auto;
    margin: .2rem auto 0;
    padding: 0;
}
/*狗头*/
.form-dog {
    position: relative;
    z-index: 1;
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.form-dog-img {
    height: 1.3rem;
    width: auto;
}
/*信息填写处*/
.form-main {
    width: 100%;
    background: #ffffff;
    margin: -0.1rem auto;
    padding: .27rem .2rem .5rem;
    box-sizing: border-box;
    font-size: .3rem;
    border: .026rem solid #000000;
    border-radius: .04rem;
    box-shadow: 0 0 .02rem .01rem inset;
}
.form-name, .form-sex, .form-age {
    width: auto;
    height: .31rem;
    line-height: .31rem;
    margin: 0 auto .4rem;
    font-family: 'zaozi';
    display: flex;
    justify-content: space-between;
}
.name-content, .sex-content, .age-content {
    color: #282828;
}
.name-input, .age-input {
    outline: none;
}
.name-input, .age-input, .sex-input {
    width: 1.5rem;
    height: .3rem;
    line-height: .3rem;
    border: .014rem solid #000000;
    border-radius: .03rem;
    outline: none;
    color: #282828;
    font-size: .18rem;
    font-weight: bolder;
    padding-left: .05rem;
    padding-right: .05rem;
}
.sex-input {
    border: 0;
}
.sex-select1, .sex-select2 {
    width: 1.5rem;
    height: .31rem;
    margin: 0 0 0 -.08rem;
    line-height: .31rem;
    border: .014rem solid #000000;
    border-radius: .03rem;
    font-size: .14rem;
    font-weight: bolder;
    padding-left: .05rem;
    padding-right: .05rem;
}
.form-button {
    width: 2rem;
    height: .5rem;
    line-height: .5rem;
    margin: 0 auto;
    border: .03rem solid #000000;
    border-radius: .06rem;
    font-family: 'zaozi';
    font-size: .3rem;
    text-align: center;
}



/*结果展示页*/
.result-page-inner {
    width: 3.1rem;
    height: auto;
    margin: 0 auto;
    padding: .1rem 0;
}
/*结果展示部分*/
.result-container {
    width: 100%;
    height: 4rem;
    padding: .09rem .15rem;
    margin: 0;
    box-sizing: border-box;
    border: .03rem solid #000000;
    border-radius: .04rem;
    background: #ffffff;
    background-image: url(../picture/result_background_div.png), url(../picture/forecast_background_circle.png);
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: 2.69rem 3.65rem, 2.09rem auto;
}
.result-title {
    height: .27rem;
    line-height: .27rem;
    font-family: 'tengxiang';
    font-size: .22rem;
    margin: .12rem auto;
    padding: 0;
    color: #dd4c4c;
    text-align: center;
}
/*分享内容*/
.result-content {
    width: 100%;
    height: 3.24rem;
    margin: 0 auto;
}
.result-name, .result-year-container, .result-place-container, .result-connect, .result-describe-container, .result-lover {
    display: inline-block;
    position: relative;
    font-size: .21rem;
    font-weight: bolder;
    color: #000000;
}
.result-name {
    top: .1rem;
    left: .45rem;
    font-size: .37rem;
    color: #dd4c4a;
}
.result-year-container {
    top: .15rem;
    left: .16rem;
    font-family: 'zaozi';
}
.result-year {
    font-size: .43rem;
    color: #81d8d8;
}
.result-place-container {
    top: .24rem;
    left: .4rem;
    font-family: 'zaozi';
}
.result-place {
    font-size: .35rem;
    color: #f6e376;
}
.result-connect {
    top: .65rem;
    left: .2rem;
    font-family: 'zaozi';
}
.result-describe-container {
    top: .7rem;
    left: .4rem;
}
.result-describe {
    font-size: .31rem;
    color: #dd4c4a;
}
.result-lover {
    top: .7rem;
    left: .8rem;
    font-size: .5rem;
    color: #81d8d8;
}
.result-save {
    position: relative;
    bottom: -.88rem;
    margin: 0;
    font-size: .14rem;
    color: #000000;
    font-family: 'zaozi';
    text-align: center;
}
/*分享按钮*/
.result-share-buttons {
    width: 3.1rem;
    height: auto;
    margin: .02rem auto;
    padding: 0;
    background: #ffffff;
    box-sizing: border-box;
    border: .03rem solid #000000;
    border-radius: .03rem;
}
.share-button1, .share-button2 {
    width: 2.74rem;
    height: .45rem;
    line-height: .45rem;
    padding-left: .38rem;
    padding-right: .18rem;
    margin: .12rem auto .12rem;
    box-sizing: border-box;
    border: .014rem solid #000000;
    border-radius: .03rem;
    font-size: .18rem;
    font-family: 'pingfang';
    display: flex;
    justify-content: space-between;
}
.share-button1 {
    margin-bottom: .2rem;
}
.share-button1 p, .share-button2 p {
    height: .45rem;
    line-height: .45rem;
    margin: 0;
}
.share-button1 img, .share-button2 img {
    width: .36rem;
    height: .36rem;
    margin-top: .04rem;
}



/*告白密函 */
.letter-page-inner {
    width: 3.06rem;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
/*填写邮件处*/
.letter-page-form {
    width: 100%;
    height: 4.78rem;
    margin: .3rem auto;
    padding: .29rem .14rem;
    box-sizing: border-box; 
    border: .03rem solid #000000;
    border-radius: .04rem;
    background: #ffffff;
    box-shadow: 0 0 .02rem .01rem inset;
}
/*爱心装饰*/
.letter-page-hearts {
    width: 3.5rem;
    height: .5rem;
    position: relative;
    margin: -.5rem -.44rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.left-heart, .right-heart {
    height: .5rem;
    width: .4rem;
    background-size: .4rem .5rem;
    background-repeat: no-repeat;
}
.left-heart {
    background-image: url(../picture/letter_left_arrow.png);
}
.right-heart {
    background-image: url(../picture/letter_right-arrow.png);
}
.letter-page-arrow {
    width: 100%;
    height: .4rem;
    margin: .16rem auto;
    background-image: url(../picture/love_arrow.png);
    background-size: 3.02rem auto;
    background-repeat: no-repeat;
}
/*输入邮箱*/
.letter-email {
    width: 2.74rem;
    height: .27rem;
    margin: .6rem auto 0;
    display: flex;
    justify-content: space-between;
}
.letter-email label {
    font-size: .17rem;
    color: #050505;
    font-family: 'zaozi';
}
.letter-email-input {
    width: 2.2rem;
    height: 100%;
    outline: none;
    font-size: .14rem;
    padding: 0 .05rem;
    box-sizing: border-box;
    border: .01rem solid #000000;
    color: #050505;
}
.letter-write {
    width: 2.73rem;
    height: 3.33rem;
    margin: .16rem auto .14rem;
    padding: .05rem;
    box-sizing: border-box;
    outline: none;
    resize: none;
    font-size: .14rem;
    border: .01rem solid #000000;
}
.letter-send-button {
    display: inline-block;
    width: .9rem;
    height: .36rem;
    float: right;
    line-height: .36rem;
    font-size: .22rem;
    background: #dd4c4a;
    color: #ffffff;
    border-radius: .04rem;
    text-align: center;
    font-family: 'zaozi';
    font-weight: bolder;
}


/*遮罩层*/
.letter-alert-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.46);
}
/*确认框*/
.letter-alert {
    width: 3.06rem;
    height: 1.92rem;
    margin: 2rem auto;
    box-sizing: border-box;
    background: #ffffff;
    border: .03rem solid #000000;
    border-radius: .04rem;
}
/*离开or确认消息*/
.leave-alert, .confirm-alert {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: .45rem .34rem .4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.leave-message, .confirm-message {
    width: 2.35rem;
    height: .18rem;
    margin: 0 auto;
    font-size: .18rem;
    font-family: 'pingfang';
    text-align-last: justify;
}
.leave-buttons, .confirm-buttons {
    width: 2.35rem;
    height: .32rem;
    font-size: .17rem;
    font-family: 'pingfang'; 
    display: flex;
}
.leave-buttons {
    justify-content: space-between;
}
.confirm-buttons {
    justify-content: space-around;
}
.leave-sure, .leave-cancel, .confirm-sure {
    width: 1.04rem;
    height: .32rem;
    line-height: .32rem;
    border: .03rem solid #dd4c4a;
    border-radius: .03rem;
    background: #dd4c4a;
    color: #000000;
    text-align: center;
}
.leave-cancel {
    background: #ffffff;
    border: .03rem solid #000000;
}